@model CarTracker.Domain.Views.GetAllCarsView

@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>

<h4>Charged @Model.TotalCharges.ToString("c") on @Model.Cars.Count car(s)</h4>

<p>
    <a asp-action="AddCar">Add Car</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Make
            </th>
            <th>
                Model
            </th>
            <th>
                Owner
            </th>
            <th>
                Last Service
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cars)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner)
                </td>
                <td>
                    @item.LastServiced?.ToLocalTime().ToString("g")
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>